{% extends "master.html" %}
{% load ui %}
{% load access_control %}
{% load viewers %}
{% load compress %}


{% block javascript %}
{{ block.super }}
{#{% compress js %}#}
    <script type="text/javascript" src="{% url static 'scripts/mdid-presentation.js' %}"></script>
    <script type="text/javascript">
        mdid.generateLightTable();
    </script>
{#{% endcompress %}#}
{% endblock %}



{% block content-top %}

{% store_recent_presentation request.user presentation %}

{% if formset.forms %}
<a href="#properties" style="float: right;">Jump to Properties</a>
{% endif %}

<h1>{{ presentation.title }}</h1>




<!-- Lighttable -->
{% if formset.forms %}



<form method="POST" action="" id="items-form">{% csrf_token %}
{{ formset.management_form }}

<ul class="actionbar" id="lighttable-actionbar">
<li><input type="submit" name="update-items" id='update-items' value="Save" /></li>
<li><a href=".">Undo changes</a></li>
<li class="secondary">Highlighted:</li>
<li class="secondary"><button id="show-button">Show</button></li>
<li class="secondary"><button id="hide-button">Hide</button></li>
<li class="secondary"><button id="duplicate-button">Duplicate</button></li>
<li class="secondary"><button id="delete-button">Delete</button></li>
<li><button id="select-button">Add to Basket</button></li>
<li class="secondary">
	<input type="submit" name="add-selected-items" value="Add All from Basket" />
</li>
</ul>


<div id="lighttable-annotation" style="display: none; clear: both;">
    Annotation: <textarea name="annotation"></textarea>
    <span id="customize-link"></span>
</div>
<div id="lighttable" style="display: none; clear: both;"></div>

<table id="items" summary="Included records" class="list">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th><span class="orderinput">Order</span></th>
        <th>Annotation</th>
        <th>Hidden</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
{% for form in formset.forms %}
    <tr class="sortable{% cycle "" " altrow" %} framed-thumbnails small middle-align">
        <td class="thumbnail-col">{{ form.id }}{{ form.record }}<a name="s{{ form.instance.id }}" href="{{ form.instance.record.get_absolute_url }}"><img src="{{ form.instance.record.get_square_thumbnail_url }}" alt="{{ form.instance.record.title }}" class="record-anchor" id="item-{{ forloop.counter }}-record-id-{{ form.instance.record.id }}" /></a></td>
        <td class="title-col"><a href="{% url data-record form.instance.record.id, form.instance.record.name %}" target="record_view">{{ form.instance.record.title }}</a></td>
        <td class="order-col"><span class="orderinput">{{ form.order }} {{ form.order.errors }}</span></td>
        <td class="annotation-col">{{ form.annotation }}<br />
            <a class="customize" href="{% url data-record-edit-context form.instance.record.id, form.instance.record.name, contenttype, presentation.id, presentation.name %}?next={{ request.get_full_path|urlencode }}%23s{{ form.instance.id }}">Customize record for this presentation</a></td>
        <td class="controls">{{ form.hidden }}</td>
        <td class="controls delete">{{ form.DELETE }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

</form>

{% endif %}
<!-- end Lighttable -->

{% endblock %}



{% block content %}

<h2 id="properties" style="padding-top: 60px;">Properties</h2>


<form action="{% url presentation-edit presentation.id, presentation.name %}" method="POST">{% csrf_token %}

<div class="vertical" style="margin-top: 20px;">

<div style="float: left; clear: left;">
{{ form.title.label_tag }}
{{ form.title }}
{{ form.title.errors }}

{{ form.description.label_tag }}
{{ form.description }}
{{ form.description.errors }}

{{ form.password.label_tag }}
{{ form.password }}
{{ form.password.errors }}

{{ form.fieldset.label_tag }}
{{ form.fieldset }}
{{ form.fieldset.errors }}

{% if perms.presentation.publish_presentations %}
{{ form.hidden.label_tag }}
{{ form.hidden }}
{{ form.hidden.errors }}
{% endif %}

{{ form.hide_default_data.label_tag }}
{{ form.hide_default_data }}
{{ form.hide_default_data.errors }}

</div>

<div style="float: left; margin-left: 20px;">

    Tags:
{% with usertags as actionbar_tags %}
{% include 'ui_tag_editor.html' %}
{% endwith %}

</div>

<div class="row">
<input type="submit" name="update-properties" value="Update" />
<a href="{% url presentation-manage %}">Cancel</a>
</div>

</div>

</form>


{% endblock %}




{% block sidebar %}

{% var as related_pages %}
{"pages": [
    {"url": "{% url presentation-manage %}", "title": "Presentations"}
]}
{% endvar %}

{{ block.super }}

  <div class="facet active-facet" id="presentation_sidebar_actions">
    <div class="facet-header">Actions</div>
    <div class="facet-body">
        {% list_viewers presentation request.get_full_path "<br />" %}
        <br />
        <br />
        <form action="{% url presentation-duplicate presentation.id, presentation.name %}" method="POST">{% csrf_token %}
        <input type="submit" name="duplicate-presentation" value="Duplicate presentation" />
        </form>
    </div>
  </div>


  <div class="facet active-facet" id="presentation_sidebar_permissions">
    <div class="facet-header">Permissions <a href="{% permissions_modify_url presentation %}"><img src="{% url static 'images/edit.png' %}" class="facet-button" /></a></div>
    <div class="facet-body">
        {% permissions_display presentation %}
    </div>
  </div>

{% if user.is_superuser %}
  <div class="facet active-facet" id="presentation_sidebar_effective_permissions">
    <div class="facet-header">Effective Permissions</div>
    <div class="facet-body">
        {% effective_permissions_form presentation %}
    </div>
  </div>
{% endif %}

{% endblock %}
